<form id="new-session" action="/sessions" method="post">
  <input name="username" type="text" required placeholder="Username"/>
  <input name="password" type ="password" required placeholder="Password"/>
  <input type = "submit" value="Submit"/>
</form>


