<form id="new-session" action="/sessions" method="post">
  <input name="username" type="text" required />
  <input name="password" type ="password" required />
  <input type = "submit" value="Submit"/>
</form>


