@import url(http://fonts.googleapis.com/css?family=Muli);

body {
  background-image: url('/img/twit.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Muli';
}

.tweet {
  background-color: #EEA800;
  opacity: .9;
  border-radius: 4px;
  padding: 1em;
  margin: 15px;
}

li.tweetContent, p.tweetContent {
  font-weight: bold;
  font-family: 'Muli';
  text-indent: 50px;
  opacity: 1;
}

span.handleIntro {
  margin-left: 3em;
  font-size: 0.3em;
  color: blue;
}

.logoutButton {
  float: right;
}

.user_name {
  text-align: center;
  font-weight: bold;
}
