@import url(http://fonts.googleapis.com/css?family=Muli);

body {
  background-image: url('/img/twit.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Muli';
}

.tweet {
  background-color: #EEA800;
  opacity: .9;
  border-radius: 10px;
  padding: .7em;
  padding-left: 2.5em;
  margin: 9px;
  color: #5B4100;
}

li.tweetContent, p.tweetContent {
  font-weight: bold;
  font-family: 'Muli';
  text-indent: 50px;
  opacity: 1;
}

.handleIntro {
  margin-left: 3em;
  font-size: .5em;
  color: #007095;
}

.logoutButton {
  float: right;
}

.user_name {
  text-align: center;
  font-weight: bold;
}
