body {
  background-image: url('/img/twit.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.tweet {
  background-color: lightblue;
}

li.tweetContent, p.tweetContent {
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-indent: 50px;
}

