<p>Delete A tweet!</p>

<form action="/tweets/:id" method="POST">
    <input type="hidden" name="method" value="delete" />
    <input type="hidden" name="content" />
    <input type="submit" value="Tweet!" />
</form>