<p>Edit A tweet!</p>

<form action="/tweets/:id" method="POST">
    <input type="hidden" name="method" value="put" />
    <input type="hidden" name="content" />
    <input type="submit" value="Tweet!" />
</form>