<form method="post" action="/users">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <input type="text" name="first_name" placeholder="First Name" />
  <input type="text" name="last_name" placeholder="Last Name" />
  <input type="text" name="email" placeholder="E-mail" />
  <input type="text" name="city" placeholder="City" />
  <input type="text" name="state" placeholder="State" />
  <textarea name="bio" id="" cols="30" rows="10" placeholder="Bio"></textarea>
  <input type="submit" value="Submit" class="button"/>
</form>
