<h2><%= @user.username %>'s Followers!</h2>

<div class="followers"><% @user.followers.each do |follower| %>
  <p><a href="/users/<%= follower.id %>"><%= follower.username %></a></p>
  <% end %></div>
