<h2>Public</h2>

<h1>@user.username</h1>
<% @user.tweets.each do |tweet| %>
  <div class="tweet">
    <p><%= tweet.user.username %></p>
    <p><%= tweet.created_at %></p>
    <p><%= tweet.content %></p>
  </div>
<% end %>
