<h1><%= @hashtag.tag %> : <small><%= @hashtag.created_at.to_s[0..9] %></small></h1>
<a href="/hashtags" class="button">Back to all tags</a>
<p><%= erb :'/partials/_tweets', locals: { tweets: @hashtag.tweets } %></p>

