<div class="row">
  <div class="small-11 medium-11 large-11 small-center medium-center large-center columns">
    <ul class="button-group">
    <% unless logged_in? %>
      <li><a href="/sessions/new" class="button">Login</a></li>
      <li><a href="/users/new" class="button">Sign Up</a></li>
    <% else %>
      <li><a href="/users/<%= current_user.id %>" class="button">Ur Profile</a></li>
      <li><a href="/users/<%= current_user.id %>/timeline" class="button">Ur Timeline</a></li>
    <% end %>
      <li><a href="/tweets" class="button">View all tweets</a></li>
      <li><a href="/users" class="button">View all users</a></li>
      <li><a href="/nowhere" class="button">Go No Where</a></li>
    </ul>
  </div>
</div>
