<h1>Welcome to Shitter<small>the worse twitter</small></h1>
<a href="/sessions/new">Login</a>
<a href="/users/new">Sign Up</a>
<a href="/tweets">View all tweets</a>
<a href="/users">View all users</a>
<a href="/nowhere">Go No Where</a>
